/* .card-grid{
  display:flex;
  flex-wrap: wrap;
  gap: 20px;
  /* justify-content: center; */
  /* padding: 20px;
} */

h1{
  display: block;
  font-weight: bold;
  font-size: 2.5rem;
  color: var(--Rose900);
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;

}

.products-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}

.product-card{
  /* flex: 1 1 calc(33.33% - 20px); Adjusts the width of each card */
  /* max-width: 251px; */
  border-radius: 16px;
  padding: 12px;
  text-align: left;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: relative;
 
  margin-bottom: 2rem;
}


/* h1{
  font-weight: bold;
  font-size: 2.5rem;
  color: var(--Rose900);
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
} */

.image-wrapper {
  position: relative;
  border-radius: 5%;
  overflow:visible;
  margin-bottom: 1.5rem;
}

.dessert-image{
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5%;
  position: relative;
}

.add-to-cart{
  border: none;
  padding: 0.5rem 1.62rem;
  /* border-radius: 50%; */
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid var(--Rose300);
  transition: opacity 0.5s ease-in-out;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  z-index: 2;
  background-color: white;
}

.add-to-cart:hover{
  background-color: var(--rose-100);
  color: var(--white);
}

.add-to-cart-svg{
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.description{
  font-size: 14px;
  font-weight: 600;
  color: var(--rose-400);
  margin-top: 0.5rem;
}

.product-name{
  font-weight: 600;
  color: var(--rose-900);
  margin-top: 0.5rem;
}

.price{
  font-weight: 600;
  color: var(--red);
  margin-top: 0.5rem;
}

/* @media (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
  
} */

 @media (max-width: 450px) {
  main {
    padding: 1.4375rem 1.5rem 1.5rem 1.5rem;
    flex-direction: column;
    align-items: center;
  }
  
  .products-list {
    grid-template-columns: 1fr; /* Adjust to two columns */
  }

  .add-to-cart{
    font-size: 14px;
    padding: 0.5rem 1rem;
  }

  .add-to-cart-svg{
    width: 1.2rem;
    height: 1.2rem;
  }
}



