body{
  background-color: var(--Rose50);
}

.products-type{
  display: block;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 1rem 0;
}

.product-card{
  background-color: var(--white);
  /* flex: 1 1 calc(33.33% - 20px); Adjusts the width of each card */
  max-width:15.6875rem; /* 251px */
  border-radius: 5%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin: 1rem;
  position: relative;
}

.image-wrapper{
  position: relative;
}

.product-image{
  width: 100%;
  height: auto;
  border-radius: 5%;
  display: block;
}

.button-wrapper{
  width: 100%;
  height: 100%;
  /* position: absolute;
  bottom: -1.25rem; /* Push it outside the image */
  /* left: 50%;
  transform: translateX(-50%);
  z-index: 2;  */ 
}

.add-to-cart{
  background-color: white;
  border: 1px solid var(--Rose300);
  padding: 0.5rem 1.62rem;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 600;
  position: absolute;
  bottom: -1.25rem; /* Push it outside the image */
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  transition: background-color 0.3s, color 0.3s;
  /* background-color: var(--white);
  border: none;
  padding: 0.5rem 1.62rem;
  border-radius: 20px;
  cursor: pointer; 
  display: flex;
  align-items: center;
  border: 1px solid var(--Rose300);
  transition: opacity 0.5s ease-in-out;
  font-weight: 600;
  position: absolute; 
  bottom: 0;
  left: 50%; 
  transform: translate(-50%, 50%); 
  z-index: 2; 
  background-color: white; */
}

.add-to-cart-svg{
  margin-right: 4px;
}

.add-to-cart:hover{
  background-color: var(--Rose100);
  color: var(--white);
}

.description{
  font-size: 0.875rem;
  color: var(--Rose400);
}

.product-name{
  font-weight: 600;
  margin: 0.3rem 0.18rem
}
 .product-card{
  border-radius: 5%;
  overflow: visible;
  
}

.price{
  font-weight: 600;
  color: var(--Red)
} 